#root {
  max-width: 800px;
  margin: auto;
}

.page-container {
  padding: 0px 20px;
}

input, button, select, textarea , a, h4{
  font-family: monospace;
}

a {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}

h1 {
  font-size: 18px;
  text-align: center;
  color: silver;
}
.passway-navbar {
  width: 100%;
  margin: 0px;
  display: flex;
  align-items: baseline;
  padding: 6px 6px 0px 6px;
}

.message-error {
  color: red;
}

.message-info {
  color: dodgerblue;
}

.messages {
  display: block;
  margin: 0px;
  padding: 0px;
  height: 20px;
  width: 100%;
  text-align: center;
}

.passway-brand {
  margin-right: 13px;
}

.passway-brand a {
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.7em;
  color: white;
}

.dropbox-settings-table {
  width: 100%;
  background: none;
  margin: 10px;
}

.passcode-input {
  text-align: center;
}

.passcode-input-container {
  display: block;
  text-align: center;
  margin: 22px 0px;
}


.passcode-input-container > div {
  width: 250px;
  display: inline-block;
  align: center;
  margin: auto;
}

.no-items {
  text-align: center;
}
