.submit-container {
  width: 100%;
  text-align: center;
  margin-top: 13px;
}
.submit-container > div {
  display: inline;
}

.create-passcode-input-container {
  text-align: left;
  margin: 30px;
}
.align-center {
  text-align: center;
}
