.item-main {
  flex: 1;
  white-space: pre;
}

.item-button {
  /* margin-left: 5px; */

}

.item-button:focus {
  outline: 0px
}


.item {
  display: block;
  margin-top: 6px;

}

.item .panel {
  margin-bottom: 8px;
}

.item .panel-body {
  display: flex;
  align-items: center;
}
