.password-item-main {
  flex: 1;
}

.password-item-button {
  margin-left: 5px;
}

.password-item {
  display: block;
  margin-top: 6px;

}

.password-item .panel-body {
  display: flex;
  align-items: center;
}
